<div class="header">
  <h1 class="text-muted">Daily Feeling Tracker</h1>
</div>

<div class="content" ng-app='angularLearningAppApp' ng-controller='MainCtrl'>

  <h2>This Week</h2>
  <div class="mood-week">
    <div class="mood-day" data-ng-repeat="day in thisWeekDays.days" ng-class="{currentDay: day.currentDay}">
      
      <div class="dayOfTheWeek">{{day.day}}</div>
      <div class="mood-date">{{day.prettyDate}}</div>   

      <div class="moodRanking">
        ☹<input type="range" min="0" max="10" value="{{day.moodRanking}}" ng-model="day.moodRanking" /><div class="smiley">☺</div></div>

      <div class="tags">
        <div class="tag" data-ng-repeat="tag in day.tags track by $index"  inline-edit="tag" on-save="editTag(day, $index, tag)" on-cancel="">
          {{tag}}
        </div>        
      </div>

      <div class="addTag" ng-click="thisWeek.addTag(day)">Add a Tag ...</div>
    </div>
  </div>

  <h2>This Year</h2>

  <div id="cal-heatmap"></div>

  <script type="text/javascript">
    var today = new Date();

    var testYearlyData = [];
    testYearlyData.push({
      date: '2013-10-01',
      value: '1000'
    });



    //TODO: test cal-heatmap below
    var cal = new CalHeatMap();
    cal.init({
      data: testYearlyData,
      dataType: "json",
      start: new Date (today.getFullYear(), 1),
      domain: "month",
      subDomain: "day",
      range: 12,
      legend: [5, 10, 15, 20, 25, 30],
      
      legendColors: {
      empty: "#ededed",
      min: "#40ffd8",
      max: "#f20013"
    },
    highlight: ["now", today]


    });

  </script>


</div>
