<div class="header">
  <h1 class="text-muted">Daily Feeling Tracker</h1>
</div>

<div class="content" ng-app='dailyFeelingTrackerApp.controller' ng-controller='MainCtrl'>

  <h2>This Week</h2>
  <div class="mood-week">
    <div class="mood-day" data-ng-repeat="day in thisWeekDays.days" ng-class="{currentDay: day.currentDay}">
      
      <div class="dayOfTheWeek">{{day.day}}</div>
      <div class="mood-date">{{day.prettyDate}}</div>   

      <div class="moodRanking">
        ☹<input type="range" min="0" max="10" value="{{day.moodRanking}}" ng-model="day.moodRanking" /><div class="smiley">☺</div></div>

      <div class="tags">
        <div class="tag" data-ng-repeat="tag in day.tags track by $index"  inline-edit="tag" on-save="editTag(day, $index, tag)" on-cancel="">
          {{tag}}
        </div>        
      </div>

      <div class="addTag" ng-click="thisWeek.addTag(day)">Add a Tag ...</div>
    </div>
  </div>


  <div class="mood-year" >
    <script type="text/javascript">
      $("[rel=tooltip]").tooltip({html:true});
    </script>

    <h2>This Year</h2>
    <yearly-calendar data="thisWeekDays.yearData"></yearly-calendar>
    <div class="legend">
      <div class="legend-header">Hover over legend for information: </div>
      <div class="legend-1" rel='tooltip' data-original-title="Utterly Depressed"></div>
      <div class="legend-2" rel='tooltip' data-original-title="Very Sad"></div>
      <div class="legend-3" rel='tooltip' data-original-title="Sad"></div>
      <div class="legend-4" rel='tooltip' data-original-title="Unhappy"></div>
      <div class="legend-5" rel='tooltip' data-original-title="Neutral"></div>
      <div class="legend-6" rel='tooltip' data-original-title="Content"></div>
      <div class="legend-7" rel='tooltip' data-original-title="Moderately Happy"></div>  
      <div class="legend-8" rel='tooltip' data-original-title="Happy"></div>
      <div class="legend-9" rel='tooltip' data-original-title="Very Happy"></div>
      <div class="legend-10" rel='tooltip' data-original-title="Ecstatic"></div>

    </div>    
  </div>

</div>
