<div class="header">
  <h1 class="text-muted">Daily Feeling Tracker</h1>
</div>

<div class="content" ng-app='dailyFeelingTrackerApp.controller' ng-controller='MainCtrl'>

  <h2>This Week</h2>
  <div class="mood-week">
    <div class="mood-day" data-ng-repeat="day in thisWeekDays.days" ng-class="{currentDay: day.currentDay}">
      
      <div class="dayOfTheWeek">{{day.day}}</div>
      <div class="mood-date">{{day.prettyDate}}</div>   

      <div class="moodRanking">
        ☹<input type="range" min="0" max="10" value="{{day.moodRanking}}" ng-model="day.moodRanking" /><div class="smiley">☺</div></div>

      <div class="tags">
        <div class="tag" data-ng-repeat="tag in day.tags track by $index"  inline-edit="tag" on-save="editTag(day, $index, tag)" on-cancel="">
          {{tag}}
        </div>        
      </div>

      <div class="addTag" ng-click="thisWeek.addTag(day)">Add a Tag ...</div>
    </div>
  </div>


  <div class="mood-year" >

    <h2>This Year</h2>
    <yearly-calendar data="thisWeekDays.yearData"></yearly-calendar>    
  </div>

</div>
